@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  margin-top: 2rem;
}

::-webkit-scrollbar-track {
  background: #f3f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 12px;
  border: 3px solid #f1f1f1;
}

@layer components {
  .avatarMobile {
    width: 38px;
    height: 38px;
    border: 2px solid #456990;
    border-radius: 50%;
  }
  .avatarMobileLarge {
    width: 55px;
    height: 55px;
    border: 3.5px solid #456990;
    border-radius: 50%;
  }

  .avatarMobileExtraLarge {
    width: 65px;
    height: 65px;
    border: 3.5px solid #456990;
    border-radius: 50%;
  }

  .avatarMain {
    width: 48px;
    height: 48px;
    border: 3px solid #456990;
    border-radius: 50%;
  }
  .avatarFeatured {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
  }
  .avatarLarge {
    width: 55px;
    height: 55px;
    border: 3.5px solid #456990;
    border-radius: 50%;
  }

  .buttonLarge,
  .buttonSignInLarge,
  .buttonSignInMobile,
  .buttonMedium,
  .buttonMobile {
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .buttonLarge {
    width: 100px;
    height: 40px;
    font-size: 0.9rem;
  }
  .buttonSignInLarge {
    width: 200px;
    height: 44px;
    font-size: 0.95rem;
  }

  .buttonSignInMobile {
    width: 180px;
    height: 40px;
    font-size: 0.95rem;
  }
  .buttonMedium {
    width: 90px;
    height: 38px;
    font-size: 0.85rem;
  }
  .buttonMediumShowMore {
    width: 140px;
    height: 38px;
    font-size: 0.75rem;
    background-color: black;
    color: white;
  }

  .buttonMobile {
    width: 74px;
    height: 30px;
    font-size: 0.7rem;
    cursor: pointer;
  }

  .buttonMobileDisabled {
    width: 74px;
    height: 30px;
    font-size: 0.7rem;
    background-color: #f3f4f6;
    color: black;
    font-weight: bold;
  }

  .featuredSectionMobile {
    height: 140px;
    background-color: red;
  }
  .mobileComments {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 22px;
    background-color: #f3f4f6;
    margin-right: 0.6rem;
  }
  .mobileCommentsNum {
    font-size: 8px;
    margin-left: 0.2rem;
    color: #456990;
    font-weight: bold;
  }
  .mobileCommentsIcon {
    font-size: 13px;
    font-weight: bold;
    color: #456990;
  }
  .featuredCommentsNum {
    font-size: 8px;
    margin-left: 0.2rem;
    color: white;
  }
  .featuredCommentsIcon {
    font-size: 11px;
    color: white;
  }
  .mobileVotes {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    background-color: #f3f4f6;
  }
  .mobileVotesNum {
    font-size: 9px;
    margin: 0 0.05rem;
    color: #456990;
    font-weight: bold;
  }
  .mobileVotesIcon {
    font-size: 15px;
    color: #456990;
    padding: 0 0.1rem;
  }
  .featuredVotes {
    color: white;
    margin-left: 0.4rem;
  }
  .featuredVotesNum {
    font-size: 8px;
    margin: 0 0.05rem;
    color: white;
  }
  .featuredVotesIcon {
    font-size: 14px;
    color: white;
  }

  .selectMobile {
    padding: 0.3rem;
    padding-left: 0.6rem;
    width: 120px;
    height: 32px;
    background-color: #edeeef;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #456990;
    font-weight: bold;
  }
  .selectForm {
    padding: 0.3rem;
    padding-left: 0.6rem;
    width: 8.75rem;
    height: 1.875rem;
    background-color: #edeeef;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #456990;
    font-weight: bold;
  }

  .input {
    border: 1px solid #d2d2d2;
  }
  .placeholder-13px::placeholder {
    font-size: 16px;
  }
  /* ... */
}
